@use "../abstracts" as *;

.format {
	padding: rem(60) 0;
	background-color: $color-bg-secondary;

	@media (min-width: $md4) {
		padding: rem(80) 0;
	}

	@media (min-width: $md0) {
		padding: rem(100) 0;
	}

	// .format__container
	&__container {
		display: flex;
		flex-direction: column;
		gap: rem(30);
	}

	// .format__title
	&__title {
		max-width: rem(723);
	}

	// .format__list
	&__list {
		display: grid;
		gap: rem(30);

		@media (min-width: $md4) {
			grid-template-columns: repeat(2, 1fr);
		}

		@media (min-width: $md1) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	// .format__card
	&__card {
		display: flex;
		flex-direction: column;
		min-width: 0;
		height: rem(300);
		background-color: $color-bg-primary;
		overflow: hidden;

		@media (min-width: $md0) {
			height: rem(400);
		}
	}

	// .format__media
	&__media {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		min-height: 0;
		overflow: hidden;
		padding: rem(12) rem(16) 0;
		background-color: $color-bg-primary;
		background-image: url("@img/decor/dark-pattern.svg");
	}

	// .format__image
	&__image {
		width: auto;
		max-width: 100%;
		height: auto;
		max-height: 100%;
		object-fit: contain;
	}

	// .format__body
	&__body {
		display: flex;
		flex-direction: column;
		gap: rem(14);
		margin-top: auto;
		padding: rem(30);
	}

	// .format__name
	&__name {
		@include desktop-heading-h4;
	}

	// .format__text
	&__text {
		color: $color-text-secondary;
		@include desktop-body-m;
	}
}
