@use "../abstracts" as *;

.gallery {
	background: $color-bg-primary;

	.page>& {
		@include section-inset($space-60);

		@media (min-width: $md4) {
			@include section-inset($space-80);
		}
	}

	// .gallery__container
	&__container {
		display: flex;
		flex-direction: column;
		gap: rem(40);

		@media (min-width: $md3) {
			padding-inline: rem(20);
		}

		@media (min-width: $md1) {
			padding-inline: rem(30);
		}
	}

	// .gallery__title
	&__title {}

	// .gallery__slider
	&__slider {
		min-width: 0;
		max-width: 100%;

		.swiper-slide {
			height: auto;
		}
	}

	// .gallery__slide
	&__slide {
		display: block;
		aspect-ratio: 1;
		overflow: hidden;
		width: rem(353);
		height: rem(353);

		@media (min-width:$md5) {
			width: rem(212);
			height: rem(212);

		}

		@media (min-width:$md3) {
			width: rem(323);
			height: rem(323);

		}

		@media (min-width:$md0) {
			width: rem(348);
			height: rem(348);

		}
	}
}