@use "../abstracts" as *;

.gallery {
	background: $color-bg-primary;

	.page > & {
		padding: rem(60) 0;

		@media (min-width: $md4) {
			padding: rem(80) 0;
		}
	}

	// .gallery__container
	&__container {
		display: flex;
		flex-direction: column;
		gap: rem(40);

		@media (min-width: $md3) {
			padding-inline: rem(20);
		}

		@media (min-width: $md1) {
			padding-inline: rem(30);
		}
	}

	// .gallery__title
	&__title {}

	// .gallery__slider
	&__slider {
		min-width: 0;
		max-width: 100%;

		.swiper-slide {
			height: auto;
		}
	}

	// .gallery__slide
	&__slide {
		display: block;
		aspect-ratio: 1;
		overflow: hidden;
	}
}
