@use "../abstracts" as *;

.offers {
	// .offers--muted
	&.offers--muted {
		background-color: $color-bg-secondary;
	}

	.page > & {
		padding-block: rem(20);

		@media (min-width: $md1) {
			padding-block: rem(80);
		}

		@media (min-width: $md0) {
			padding-block: rem(100);
		}
	}

	background-color: $color-bg-primary;

	// .offers__container
	&__container {
		display: flex;
		flex-direction: column;
		gap: rem(32);

		@media (min-width: $md4) {
			gap: rem(40);
		}
	}

	// .offers__title
	&__title {
		max-width: rem(723);
	}

	// .offers__list
	&__list {
		display: flex;
		flex-direction: column;
		gap: rem(10);

		@media (min-width: $md0) {
			gap: rem(20);
		}
	}
}

.offer {
	// .offer--promo
	&.offer--promo {
		padding-block: rem(50);

		.offer__badge {
			right: 0;
			left: auto;
			padding: rem(10) rem(20) rem(12) rem(78);
			clip-path: polygon(0 0, 100% 0, 100% 100%, #{rem(58)} 100%);
		}

		@media (min-width: $md4) {
			padding-block: rem(30);
		}

		@media (min-width: $md1) {
			justify-content: flex-end;
			padding-block: rem(20);
			padding-left: 50%;
			background-position: left center;

			&::before {
				background: linear-gradient(
					90deg,
					rgba($color-bg-elevated, 0) 26%,
					$color-bg-elevated 100%
				);
			}

			.offer__badge {
				right: auto;
				left: 0;
				padding: rem(10) rem(78) rem(12) rem(20);
				clip-path: polygon(0 0, 100% 0, calc(100% - #{rem(58)}) 100%, 0 100%);
			}

			.offer__content {
				align-items: flex-end;
			}

			.offer__title {
				text-align: right;
			}
		}

		@media (min-width: $md0) {
			gap: rem(50);
			padding: rem(40) rem(50) rem(40) rem(600);

			.offer__title {
				width: rem(700);
			}
		}
	}

	// .offer--lead
	&.offer--lead {
		background-position: right center;

		@media (min-width: $md1) {
			justify-content: space-between;
		}
	}

	position: relative;
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	gap: rem(30);
	min-height: rem(270);
	padding: rem(30) rem(20);
	overflow: hidden;
	background-color: $color-bg-elevated;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right center;
	color: $color-bg-secondary;

	@media (min-width: $md4) {
		min-height: auto;
		padding: rem(30);
	}

	@media (min-width: $md1) {
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
		gap: rem(20);
		padding: rem(20) rem(30);
	}

	@media (min-width: $md0) {
		gap: rem(300);
		padding: rem(40) rem(50);
	}

	&::before {
		content: "";
		position: absolute;
		inset: 0;
		pointer-events: none;
		background: linear-gradient(
			90deg,
			$color-bg-elevated 33%,
			rgba($color-bg-elevated, 0) 68%
		);
	}

	// .offer__badge
	&__badge {
		position: absolute;
		top: 0;
		left: 0;
		z-index: $ui-index-2;
		display: inline-flex;
		align-items: center;
		height: rem(50);
		padding: rem(10) rem(78) rem(12) rem(20);
		background-color: $color-accent-primary;
		color: $color-bg-primary;
		clip-path: polygon(0 0, 100% 0, calc(100% - #{rem(58)}) 100%, 0 100%);
		@include desktop-heading-h4;

		&:empty {
			display: none;
		}
	}

	// .offer__content
	&__content {
		position: relative;
		z-index: $ui-index-2;
		display: flex;
		flex: 1 1 auto;
		flex-direction: column;
		gap: rem(10);
		min-width: 0;

		@media (min-width: $md1) {
			gap: rem(20);
		}

		@media (min-width: $md0) {
			gap: rem(30);
		}
	}

	// .offer__title
	&__title {
		color: $color-bg-secondary;
		@include desktop-heading-h3;

		@media (min-width: $md4) {
			@include mobile-heading-h1;
		}

		@media (min-width: $md0) {
			@include tablet-heading-h1;
		}
	}

	// .offer__text
	&__text {
		color: $color-bg-primary;
		@include desktop-body-s;

		@media (min-width: $md4) {
			@include desktop-body-m;
		}

		@media (min-width: $md0) {
			@include desktop-body-xl;
		}

		&:empty {
			display: none;
		}
	}

	// .offer__btn
	&__btn {
		position: relative;
		z-index: $ui-index-2;
		align-self: flex-start;
		flex-shrink: 0;

		@media (min-width: $md1) {
			align-self: center;
		}
	}
}
