@use "../abstracts" as *;

.reviews {

	// .reviews--trio
	&.reviews--trio {
		.reviews__grid {
			@media (min-width: $md2) {
				grid-template-columns: repeat(3, 1fr);
			}
		}
	}

	min-width: 0;
	max-width: 100%;
	background: $color-bg-primary;

	.page>& {
		@include section-inset($space-60);

		@media (min-width: $md5) {
			@include section-inset($space-80);
		}

		@media (min-width: $md0) {
			@include section-inset($space-100);
		}
	}

	// .reviews__container
	&__container {
		display: grid;
		gap: rem(30);
		grid-template-columns: 1fr;
		grid-template-areas:
			"title"
			"slider"
			"more"
			"nav";

		@media (min-width: $md2) {
			align-items: end;
			grid-template-columns: 1fr auto;
			grid-template-areas:
				"title more"
				"slider slider";
		}
	}

	// .reviews__title
	&__title {
		grid-area: title;
	}

	// .reviews__slider
	&__slider {
		grid-area: slider;
		width: 100%;
		max-width: 100%;
		min-width: 0;

		.swiper-slide {
			height: auto;
			min-width: 0;
		}

		overflow: visible;
	}

	// .reviews__grid
	&__grid {
		@media (min-width: $md5) {
			display: grid;
			grid-template-columns: 1fr;
			gap: rem(30);
			transform: none;
			width: 100%;
		}



		@media (min-width: $md2) {
			grid-template-columns: repeat(4, 1fr);
		}
	}

	// .reviews__more
	&__more {
		grid-area: more;


		&.more-link {
			@media (min-width:$md0) {
				padding-bottom: rem(10);
			}
		}
	}

	// .reviews__nav
	&__nav {
		grid-area: nav;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-block: rem(10);

		@media (min-width: $md5) {
			display: none;
		}
	}

	// .reviews__prev / .reviews__next
	&__prev,
	&__next {
		position: static;
		transform: none;
		width: auto;
		height: auto;
		background: transparent;
		color: $color-text-primary;
		font-size: rem(33);

		@media (any-hover: hover) {
			&:hover {
				opacity: 0.7;
			}
		}
	}

}