@use "../abstracts" as *;

.vacancies {
	padding: rem(48) 0;
	background: $color-bg-primary;

	@media (min-width: $md4) {
		padding: rem(80) 0;
	}

	@media (min-width: $md2) {
		padding: rem(100) 0;
	}

	// vacancies__title
	&__title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(12);
		margin-bottom: rem(24);

		@media (min-width: $md4) {
			gap: rem(26);
			margin-bottom: rem(40);
		}
	}

	// vacancies__title-line
	&__title-line {
		display: block;
	}

	// vacancies__grid
	&__grid {
		display: flex;
		flex-wrap: wrap;
		gap: rem(20);

		@media (min-width: $md4) {
			gap: rem(30);
		}
	}

	// vacancies__item
	&__item {
		display: flex;
		width: 100%;
		padding-top: rem(12);

		@media (min-width: $md4) {
			width: calc((100% - #{rem(30)}) / 2);
		}

		@media (min-width: $md2) {
			width: calc((100% - #{rem(30)} * 2) / 3);
		}
	}
}
