@use "../abstracts" as *;

.vacancies {
	@include section-margin($space-60);
	background: $color-bg-secondary;

	@media (min-width: $md4) {
		@include section-margin($space-80);
	}

	// vacancies__container
	&__container {
		display: grid;
		gap: rem(30);
		grid-template-columns: 1fr;
	}

	// vacancies__title
	&__title {}

	// vacancies__grid
	&__grid {
		display: grid;
		grid-template-columns: 1fr;
		gap: rem(30);

		@media (min-width: $md1) {
			grid-template-columns: repeat(3, 1fr);
		}
	}

	// vacancies__item
	&__item {
		display: flex;
		flex-direction: column;
		min-width: 0;
	}
}