@use "../abstracts" as *;

.works {
	.page>& {
		@include section-margin($space-60);

		@media (min-width: $md4) {
			@include section-margin($space-100, $space-90);
		}
	}

	// .works--related
	&.works--related {


		// .works__container
		.works__container {
			display: flex;
			flex-direction: column;
			gap: rem(40);

			@media (min-width: $md4) {
				grid-template-columns: none;
				grid-template-areas: none;
			}
		}


		// .works__slider
		.works__slider {
			margin-top: 0;
		}

		.works__slider:not(.swiper-initialized) {
			overflow: visible;

			// .works__list
			.works__list {
				display: grid;
				gap: rem(30);

				@media (min-width: $md1) {
					grid-template-columns: repeat(3, 1fr);
				}
			}

			.swiper-slide {
				width: auto;
				min-width: 0;
			}
		}
	}

	background: $color-bg-secondary;


	// .works__container
	&__container {}

	// .works__title
	&__title {}

	&__header {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
	}

	// .works__head
	&__head {
		display: flex;
		flex-direction: column;
		gap: rem(20);

		@media (min-width: $md2) {
			gap: rem(40);
		}
	}

	// .works__tag
	&__tag {
		@include mobile-heading-h4;

		color: $color-accent-primary;

		@media (min-width: $md4) {
			@include desktop-heading-h4;
		}

		@media (min-width: $md2) {
			@include desktop-heading-h3;
		}
	}

	// .works__nav
	&__nav {
		grid-area: nav;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: rem(30);

		@media (min-width: $md4) {
			align-self: end;
			justify-content: flex-end;
			padding-block: rem(10);
		}
	}

	// .works__prev / .works__next
	&__prev,
	&__next {
		position: static;
		transform: none;
		width: auto;
		height: auto;
		background: transparent;

	}

	// .works__slider
	&__slider {
		margin-top: rem(12);
		width: 100%;
		overflow: hidden;
	}
}