@use "../abstracts" as *;

$scrollbarColor: #fff;

::-webkit-scrollbar {
	width: rem(8);
}

::-webkit-scrollbar-track {
	background: #fff;
}

::-webkit-scrollbar-thumb {
	background: $scrollbarColor;
	border-radius: rem(8);

	@media (any-hover: hover) {
		&:hover {}
	}
}