@use "abstracts" as *;

.our-goal {
	position: relative;
	overflow: hidden;
	color: $color-bg-primary;
	background: url("@img/decor/light-pattern.svg"),
		linear-gradient(90deg, #222 48.57%, rgba(34, 34, 34, 0.00) 62.27%),
		url("@img/our-goal-mobile.webp") center center / cover no-repeat, $color-text-primary;

	@media (min-width:$md4) {
		background: url("@img/decor/light-pattern.svg"),
			linear-gradient(90deg, #222 48.57%, rgba(34, 34, 34, 0.00) 62.27%),
			url("@img/our-goal-tablet.webp") center center / cover no-repeat, $color-text-primary;

	}

	@media (min-width: $md2) {
		background: url("@img/decor/light-pattern.svg"),
			linear-gradient(90deg, transparent 32.5%, rgba($color-text-primary, 0.9) 62.266%),
			url("@img/our-goal.webp") center center / cover no-repeat, $color-text-primary;
	}

	.page>& {
		@include section-inset($space-60);

		@media (min-width: $md4) {
			@include section-inset($space-80);
		}

		@media (min-width: $md2) {
			@include section-inset($space-100);
		}

		@media (min-width: $md0) {
			@include section-inset(rem(160), rem(145));
		}
	}


	// .our-goal__container
	&__container {
		position: relative;
		z-index: 2;
	}

	// .our-goal__content
	&__content {
		@media (min-width: $md2) {
			width: calc(50% - #{rem(20)});
			margin-left: auto;
		}


	}

	// .our-goal__title
	&__title {
		color: rgba($color: $color-bg-secondary, $alpha: 0.4);
		padding-top: 1.75rem;
		@include mobile-heading-h4;

		@media (min-width: $md4) {
			@include desktop-heading-h3;
		}

		@media (min-width: $md1) {
			@include mobile-heading-h1;
		}
	}

	// .our-goal__tagline
	&__tagline {
		margin-top: rem(28);

		@media (min-width:$md3) {
			margin-top: rem(14);

		}
	}
}