@use "abstracts" as *;

.our-goal {
	position: relative;
	overflow: hidden;
	background: url("@img/decor/light-pattern.svg"),
		linear-gradient(90deg, transparent 32.5%, rgba($color-text-primary, 0.9) 62.266%),
		url("@img/our-goal.webp") center center / cover no-repeat, $color-text-primary;
	color: $color-bg-primary;

	.page>& {
		@include section-inset($space-60);

		@media (min-width: $md4) {
			@include section-inset($space-80);
		}

		@media (min-width: $md1) {
			@include section-inset(rem(160), rem(145));
		}
	}


	// .our-goal__container
	&__container {
		position: relative;
		z-index: 2;
	}

	// .our-goal__content
	&__content {
		@media (min-width: $md1) {
			width: 45%;
			margin-left: auto;
		}
	}

	// .our-goal__title
	&__title {
		color: rgba($color: $color-bg-secondary, $alpha: 0.4);
		padding-top: 1.75rem;
		@include mobile-heading-h4;

		@media (min-width: $md4) {
			@include desktop-heading-h3;
		}

		@media (min-width: $md1) {
			@include mobile-heading-h1;
		}
	}

	// .our-goal__tagline
	&__tagline {
		margin-top: rem(14);
	}
}