<li>
	<a class="article__aside-card" href="@@href">
		<span class="article__aside-media">
			<img src="@@image" srcset="@@image 237w" sizes="(min-width: 768px) 237px, 70vw" alt="@@imageAlt" width="237" height="180"@@if(typeof loading !== 'undefined'){ loading="@@loading"}@@if(typeof loading === 'undefined'){ loading="lazy"}>
		</span>
		<span class="article__aside-body">
			<span class="article__aside-date">
				<img src="@img/icons/calendar.svg" alt="Дата" loading="lazy">
				<span>@@date</span>
			</span>
			<span class="article__aside-title">@@title</span>
			<span class="article__badge">@@badge</span>
		</span>
	</a>
</li>
