<li class="article__comment">
	<div class="article__comment-head">
		<p class="article__comment-name">@@name</p>
		<div class="article__stars" aria-label="Оценка 5 из 5">
			<span class="article__star icon-star" aria-hidden="true"></span>
			<span class="article__star icon-star" aria-hidden="true"></span>
			<span class="article__star icon-star" aria-hidden="true"></span>
			<span class="article__star icon-star" aria-hidden="true"></span>
			<span class="article__star icon-star" aria-hidden="true"></span>
		</div>
	</div>
	<p class="article__comment-text">@@text</p>
</li>
