<nav class="pagination" aria-label="Страницы">
	<a class="pagination__arrow pagination__arrow--prev icon-prev" href="#" aria-label="Предыдущая страница"></a>
	<a class="pagination__page" href="#">1</a>
	<a class="pagination__page" href="#">2</a>
	<a class="pagination__page" href="#">3</a>
	<span class="pagination__ellipsis">...</span>
	<a class="pagination__page is-active" href="#" aria-current="page">15</a>
	<a class="pagination__page" href="#">16</a>
	<a class="pagination__page" href="#">17</a>
	<a class="pagination__arrow pagination__arrow--next icon-next" href="#" aria-label="Следующая страница"></a>
</nav>
