<div class="swiper-slide review-card">
	<div class="review-card__body">
		<div class="review-card__man icon-user">
			<div class="review-card__identity">
				<h3 class="review-card__name">@@name</h3>
				<p class="review-card__car">@@car</p>
			</div>
			<div class="review-card__stars icon-star" aria-label="Оценка 5 из 5"></div>
		</div>
		<div class="review-card__text">@@text</div>
	</div>
	<div class="review-card__foot">
		<div class="review-card__address icon-locations">@@address</div>
	</div>
</div>