<li class="vacancies__item">
	<article class="vacancy-card">
		<div class="vacancy-card__badge">@@experience</div>
		<div class="vacancy-card__body">
			<h3 class="vacancy-card__title">@@title</h3>
			<ul class="vacancy-card__duties">
				<li class="vacancy-card__duty">@@duty1</li>
				<li class="vacancy-card__duty">@@duty2</li>
				<li class="vacancy-card__duty">@@duty3</li>
				<li class="vacancy-card__duty">@@duty4</li>
			</ul>
		</div>
		<div class="vacancy-card__media">
			<img class="vacancy-card__img" src="@@image" srcset="@@image 474w" sizes="(min-width: 766.98px) 280px, 70vw" alt="@@imageAlt" width="474" height="639" loading="lazy">
		</div>
		<a class="vacancy-card__apply icon-arrow-top-right" href="vacancies.html#callback">
			<span class="vacancy-card__apply-text vacancy-card__apply-text--short">Узнать подробнее</span>
			<span class="vacancy-card__apply-text vacancy-card__apply-text--full">Откликнуться на вакансию</span>
		</a>
	</article>
</li>