@use "../abstracts" as *;

.breadcrumbs {
	position: relative;
	z-index: $ui-index-3;

	// breadcrumbs__list
	&__list {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		gap: rem(4);

		@media (min-width: $md2) {
			flex-wrap: nowrap;
		}
	}

	// breadcrumbs__item
	&__item {
		display: inline-flex;
		align-items: center;
		min-width: 0;
		color: rgba($color-text-secondary, 0.5);
		font-family: $font-inter;
		font-size: rem(16);
		font-weight: 700;
		line-height: 1.3;
		letter-spacing: em(-0.32, 16);

		&:not(:last-child) {
			flex-shrink: 0;

			&::after {
				content: "/";
				display: inline-block;
				margin-left: rem(4);
				color: $color-accent-primary;
				font-size: inherit;
				line-height: inherit;
			}
		}

		&:last-child {
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
	}

	// breadcrumbs__link
	&__link {
		overflow: hidden;
		text-overflow: ellipsis;

		&[aria-current="page"] {
			color: $color-accent-primary;
		}

		&:is(a) {
			transition: color 0.3s ease;

			@media (any-hover: hover) {
				&:hover {
					color: $color-text-primary;
				}
			}
		}
	}
}
