@use "sass:math";
@use "../abstracts" as *;

.feature-card {
	// feature-card--plain
	&.feature-card--plain {
		gap: rem(16);
		height: auto;
		min-height: rem(280);
		padding: rem(20) rem(20) rem(24);

		@media (min-width: $md4) {
			min-height: rem(450);
			padding: 0 rem(30) rem(30);
		}

		.feature-card__title {
			@include mobile-heading-h4;

			@media (min-width: $md4) {
				font-size: rem(32);
				line-height: math.div(37, 32);
				letter-spacing: rem(-0.48);
			}
		}

		.feature-card__text {
			@media (min-width: $md4) {
				font-size: rem(22);
			}
		}
	}

	position: relative;
	display: flex;
	flex-direction: column;
	gap: rem(10);
	height: rem(200);
	padding: 0 rem(20) rem(20);
	isolation: isolate;
	overflow: hidden;
	background-color: $color-text-primary;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	@media (min-width: $md4) {
		height: rem(300);
	}

	&::after {
		content: "";
		position: absolute;
		inset: 0;
		z-index: 0;
		background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0) 60%);
		pointer-events: none;

		@media (min-width: $md4) {
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0) 0%,
				rgba(0, 0, 0, 0.9) 100%
			);
		}
	}

	// feature-card с icon-*
	&[class^="icon-"],
	&[class*=" icon-"] {
		&::before {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			display: flex;
			align-items: flex-start;
			justify-content: flex-start;
			width: rem(70);
			height: rem(30);
			padding: 0 rem(50) rem(10) 0;
			background: var(--feature-card-surface, #{$color-text-primary});
			color: $color-accent-primary;
			font-size: rem(20);
			line-height: 1;
			clip-path: polygon(0 0, 100% 0, calc(100% - #{rem(40)}) 100%, 0 100%);
		}
	}

	// feature-card__title
	&__title {
		position: relative;
		z-index: 1;
		margin-top: auto;
		@include mobile-heading-h4;
		font-size: rem(18);
		line-height: 1.2;
		letter-spacing: em(-0.18, 18);
		color: $color-bg-primary;

		@media (min-width: $md4) {
			@include desktop-heading-h4;
		}
	}

	// feature-card__text
	&__text {
		position: relative;
		z-index: 1;
		@include desktop-body-s;
		color: $color-text-tertiary;

		@media (min-width: $md4) {
			@include desktop-body-m;
		}
	}
}
