@use "../abstracts" as *;


.more-link {
	display: inline-flex;
	align-items: center;
	flex-direction: row-reverse;
	justify-content: space-between;
	gap: rem(10);
	width: 100%;
	padding-bottom: rem(4);
	border-bottom: 1px solid $color-accent-primary;
	color: $color-accent-primary;
	font-family: $font-inter;
	font-size: rem(18);
	font-weight: 700;
	line-height: 1;
	letter-spacing: em(-0.36, 18);
	transition: opacity 0.2s ease;

	@media (min-width: $md4) {
		justify-content: flex-start;
		justify-self: start;
		width: auto;
	}

	@media (min-width: $md0) {
		padding-bottom: rem(26);
		font-size: rem(22);
		letter-spacing: em(-0.44, 22);
	}

	@media (any-hover: hover) {
		&:hover {
			opacity: 0.75;

			&::before {
				transform: rotate(90deg);
			}
		}
	}

	&::before {
		@extend %ic, .icon-arrow-top-right;
		font-size: rem(12);
		transition: transform 0.35s ease;

		@media (min-width: $md0) {
			font-size: rem(16);
		}
	}

	&:focus-visible {
		@include focus-ring;
		border-radius: rem(2);

		&::before {
			transform: rotate(90deg);
		}
	}
}